* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

// #totheright {
//     // background-color: red;
//     // margin-left: 330px;
//     // margin-top: -380px;
// }